body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    background-image: url('<?php echo get_template_directory_uri(); ?>/img/stat.png');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content {
    max-width: 50%;
}

.hero-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

.hero-description {
    font-size: 1.2em;
    color: #fff;
    margin: 20px 0;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hero-element {
    display: block;
    max-width: 100%;
}

.hero-logo {
    max-width: 40%;
    height: auto;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-logo {
        max-width: 100%;
    }

    .hero-title {
        font-size: 2em;
    }

    .hero-description {
        font-size: 1em;
    }

    .hero-button {
        padding: 8px 16px;
    }
}
